# TensorFlow for building and training the CNN model, MLP Model
tensorflow>=2.13.0

# Keras integrated with TensorFlow (for high-level neural network APIs)
keras>=2.13.0

# Numpy for numerical operations, crucial for data manipulation
numpy>=1.23.5

# Matplotlib for plotting and visualizations (optional, for data visualization)
matplotlib>=3.7.2
pandas
os
